

<div class="home-callout text-center container-fluid">
  <% if user_signed_in? %>
    <li><%= current_user.films(1).inspect %></li>
  <% end %>
</div>

<div class="container">

  <!-- display ceremony year -->
  <% @ceremony_list.includes(films: { nominations: [:category] }).each do |ceremony| %>
  
    <div class="well">
      <h3><%= ceremony.year %></h3>
      <br>
      <div>
        <!-- display film list for that year -->
        <% ceremony.films.each do |film| %>
        
          <h5>
          <input id="film_<%= film.id %>" name="film_<%= film.id %>" type="checkbox" value="0" />
          <%= film.name %>
          </h5>

          <!-- display nomination list for that film -->
          <ul><small>
            <% film.nominations.each do |nomination| %>
            
              <li>
                <% if nomination.won %>
                  ★ 
                <% end %>
                <%= nomination.category.name %> (<%= nomination.nominee %>)
              </li>
            <% end %>
          </ul></small>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>

</div>